* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btnButton {
    display: flex;
    justify-content: center;
}

.btnButton button {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin-top: 3rem;
}

/* .btnButton p {
    text-align: center;
} */

#proText {
    /* padding: 1rem;
    border-radius: 10px;
    border: none;
    display: flex;
    margin: auto;
    margin-top: 3rem; */
}